header{
    background-color: rgba(0, 4, 255, 0.932);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    line-height: 40px;
}
* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}