header{
    background-color: rgba(26, 102, 0, 0.932);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    line-height: 40px;
}
* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #c2c0c0;
}
section a{
    color:rgb(0, 8, 255);
}